body{
   font-family: 'Roboto', sans-serif;
   margin:0 auto;
   overflow-y: scroll;
}

h1, h2, h3, h4 {
  font-weight: bold;
  letter-spacing: 2px;
}

h1{
	font-weight: bold;
  	letter-spacing: 2px;
  	font-size: 32px;
  	font-weight: bold;
  	color: #00C6D7;
  	position:relative;
  	text-align: center;
  	margin-top:100px;
}

p {
  font-size: 15px;
}

a {
  text-decoration: none;
}

hr {
  width: 200px;
  border-color: #CCC;
}

li{	
  	display: inline-block;
}

/* ==========================================================================
navigation section
===========================================================================*/ 
.navigation{	
	position:fixed;
  	text-align: right;
  	width:100%;
  	height: 50px; 
	background-color:#4b4b4b;	
  	top:0%;
  	left:0%;
        z-index: 10;
}
  	
.navigation li{
  	padding-right: 20px;
  	font-size: 15px; 
}
 
.navigation a:link,a:visited{
	color:#ffffff;
}

.navigation a:hover, a:active{
	color:#00C6D7;
}

.navigation a.blutext{
	color:#00C6D7;
}

/* ==========================================================================
home section
===========================================================================*/
#home{
  height: 933px;
  background: url("../images/home1.jpg") no-repeat center fixed; 
  z-index: -1;
  
  webkit-animation-name: diapo;
  webkit-animation-duration: 28s;
  webkit-animation-timing-function: linear;
  webkit-animation-iteration-count: infinite;
  webkit-animation-direction: normal;
  
  moz-animation-name: diapo;
  moz-animation-duration: 28s;
  moz-animation-timing-function: linear;
  moz-animation-iteration-count: infinite;
  moz-animation-direction: normal;
  
  animation-name: diapo;
  animation-duration: 28s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@-webkit-keyframes diapo{
    0%{background-image: url("../images/home1.jpg");}
    25%{background-image: url("../images/home2.jpg");}
    50%{background-image: url("../images/home3.jpg");}
    75%{background-image: url("../images/home4.jpg");}
}

@-moz-keyframes diapo{
    0%{background-image: url("../images/home1.jpg");}
    25%{background-image: url("../images/home2.jpg");}
    50%{background-image: url("../images/home3.jpg");}
    75%{background-image: url("../images/home4.jpg");}
}

@keyframes diapo{
    0%{background-image: url("../images/home1.jpg");}
    25%{background-image: url("../images/home2.jpg");}
    50%{background-image: url("../images/home3.jpg");}
    75%{background-image: url("../images/home4.jpg");}
}

#home .container{
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}
#home .container h3{
    margin-top: 150px;
    color: #ffffff;
    letter-spacing: 10px;
    font-size: 20px;
    font-weight: bolder;
}

#home .container a{
    font-size: 20px;
    font-weight: 900;
    margin-right: 35px;
    color: #ffffff;
}

#home .container .entry1:link, .entry1:visited{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 26px;
    padding-right: 26px;
    background: #00C6D7;
    border: 6px solid #00C6D7;   
}

#home .container .entry1:hover, .entry1:active{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 26px;
    padding-right: 26px;
    background: transparent;
    border: 6px solid #ffffff; 
}

#home .container .entry2:link, .entry2:visited{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 26px;
    padding-right: 26px;
    background: transparent;
    border: 6px solid #ffffff;
}

#home .container .entry2:hover, .entry2:active{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 26px;
    padding-right: 26px;
    background: #00C6D7;
    border: 6px solid #00C6D7; 
}



/* ==========================================================================
about section
===========================================================================*/
body.about{
	background:#3b3b3b;
}

.about img{
	margin-top: 100px;
	margin-left: 60px;
	float:left;
	margin-right: 80px;
}

.about .container{
	color: #ffffff;
	float:left;
	margin-top: 110px;
}

.about .container hr{
	position: absolute;
	width: 450px;
}

.about p{
	margin-top:60px;
	position:relative;
	text-align:justify;
}

.about .container{
    margin-top:100px;
}

/* ==========================================================================
connect section
===========================================================================*/
.nav2{
    position: relative;
    text-align: center;
    margin-top: 35px;
}

.nav2 a{
    font-size: 25px;
    margin-right: 45px;
}

.nav2 a:link,.nav2 a:visited{
    color:#000000;
}

.nav2 a:hover, a:active{
    color:#00C6D7;
}

.nav2 a.blutext{
    color:#00C6D7;
}

.connect2 .container{
    margin-top:55px;
    position:relative;
    text-align: center;
}

.myRadio{
    display:inline-block;
}

.connect2 table {
    margin: 0 auto;
}

.connect2 .fieldForm {
    margin-right: 20px;
}

.connect1 .container p{
    position:relative;
    text-align: center;
    margin-top: 80px;
    font-size: 18px;
}

.connect1 .container .text{
    font-style: italic;
    letter-spacing: 1.5px;
}

.connect1 .container .button{
    margin-right: 60px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid #CCC;
}

.connect1 .container .button:link, .button:visited{
    box-shadow: 1px 1px 12px #555;
    background: transparent; 
    color:#95073c; 
}

.connect1 .container .button:hover, .button:active{
    box-shadow: none;
    background: #4b4b4b;
    color:#ffffff;
}
/* ==========================================================================
data section
===========================================================================*/
#data .container{
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

#data a:hover{
    box-shadow: 1px 1px 12px #555;
}

#data a{
    padding-top:250px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
    border:1px solid #CCC;
}

#data .lien{
    margin-bottom: 150px;
    margin-right: 2.5%;
    margin-left: 2.5%;
}
