<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
	
<h:head>
	<meta charset="utf-8"/>
	<title>Interface for big data</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="css/style.css" />
</h:head>

<h:body>
    
    <!-- navigation section -->
    <section>
        <div class="navigation">
            <ul>
                <li><a href="index.html">HOME</a></li>
		<li><a href="about.html">ABOUT</a></li>
                <li><a class="blutext" href="connect1.xhtml">CONNECT</a></li>
        	<li><a href="data.xhtml">SEE DATA</a></li>
		<li><a href="contact.html">CONTACT</a></li>
            </ul>
	</div>
    </section>
	
    <!-- form section -->
    <f:view>
        <section class="connect2">
            <h1>CONNECT YOUR DATABASE</h1>
            <hr/>
            <div class="nav2">
		<ul>  
                    <li><a href="connect1.xhtml">1</a></li>
                    <li><a class="blutext" href="connect2.xhtml">2</a></li>
                    <li><a href="connect3.xhtml">3</a></li>
            	</ul>
            </div>
            <div class="container">     		
                <h:form>
                    <h:selectOneRadio styleClass="myRadio" value="#{connectDb.serverDb}">                                 	
                        <f:selectItem itemValue="MYSQL" itemLabel="MySql"/>
           		<f:selectItem itemValue="PGSQL" itemLabel="PostgreSql"/>
           		<f:selectItem itemValue="ORACLE" itemLabel="Oracle"/>         
                    </h:selectOneRadio>
                    <br />
                    <br />
                    <br />
                    <table>
                        <tr>
                            <td><h:outputLabel for="fieldUser" value="Username of DataBase" styleClass="fieldForm"/></td>
                            <td><h:inputText id="fieldUser" value="#{connectDb.user}"/></td>
                        </tr>
                        <tr>
                            <td><h:outputLabel for="fieldPassWord" value="Password of DataBase" styleClass="fieldForm" /></td>
                            <td><h:inputSecret id="fieldPassWord" value="#{connectDb.password}"/></td>
                        </tr>
                        <tr>
                            <td><h:outputLabel for="fieldIp" value="Ip of DataBase" styleClass="fieldForm" /></td>
                            <td><h:inputText id="fieldIp" value="#{connectDb.ip}"/></td>
                        </tr>
                        <tr>
                            <td><h:outputLabel for="fielddb" value="Name of DataBase" styleClass="fieldForm"/></td>
                            <td><h:inputText id="fielddb" value="#{connectDb.nameDb}"/></td>
                        </tr>
                        <tr>
                            <td><h:outputLabel for="fieldPort" value="Port using by DataBase" styleClass="fieldForm"/></td>
                            <td><h:inputText id="fieldPort" value="#{connectDb.port}"/></td>
                        </tr>
                    </table>
                    <br />
                    <br />
                    <br />
                    <h:commandLink role="tab" action="#{connectDb.connectDb()}" value="Next" />
     		</h:form>
            </div>
        </section>
    </f:view> 
	
</h:body>
</html>
