<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html><html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<meta charset="utf-8"/>
	<title>Interface for big data</title>
	<link rel="stylesheet" href="css/style.css" />
</h:head>

<h:body>

	<!-- navigation section -->
	<section>
		<div class="navigation">
			<ul>
				<li><a href="index.html">HOME</a></li>
				<li><a href="about.html">ABOUT</a></li>
				<li><a href="connect1.xhtml">CONNECT</a></li>
				<li><a class="blutext" href="data.xhtml">SEE DATA</a></li>
				<li><a href="contact.html">CONTACT</a></li>
			</ul>
		</div>
	</section>

	<!-- data section -->
	<f:view>
		<section id="data">
			<h1 class="heading bold">SEE DATA</h1>
			<hr/>
			<div class="container">
				<div class="lien">
					<h2>SHOPPINGCARTITEM</h2>
					<a href="/InterfaceBigData/csv/data_SHOPPINGCARTITEM.csv?table=SHOPPINGCARTITEM&amp;id=1">
						<iframe width="350px" height="200px" src="table\tab1.xhtml"/>
					</a>
				</div>
			</div>
		</section>
	</f:view>

</h:body>
</html>