<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>FormValidate</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <f:view>
            <h1>Input</h1>
            <h:outputText value="coucou"/>
            <h:dataTable value="#{dataList1.l}" var="item">
		<h:column>
			<f:facet name="header">id</f:facet>
			<h:outputText value="#{item.id}"/>
		</h:column>
		<h:column>
			<f:facet name="header">Name</f:facet>
			<h:outputText value="#{item.item1}"/>
                </h:column>
	</h:dataTable>
            <br />
            <br />
        </f:view>
    </h:body>
</html>
